<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPrinterServ" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1337/Printer" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IPrinterServ" contract="PrinterService.IPrinterServ"
                name="BasicHttpBinding_IPrinterServ" />
        </client>
    </system.serviceModel>
</configuration>